* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #cebf9e;
}
nav {
  display: flex;
  align-items: center;
  height: 20vh;
  justify-content: space-around;
  background-image: url("pexels-pixabay-235985.jpg");
  color: white;
}
#toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 13px;
  color: gray;
  font-weight: bold;
  img {
    height: 20px;
  }
}
#toggle:hover {
  height: 50px;
  background-color: #cebf9e;
  cursor: pointer;
  color: white;
}
nav > h1 {
  font-size: 50px;
}
#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  flex-wrap: wrap;
  margin-top: 20px;
}
.createNote {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid blue; */
  height: 50vh;
}
input {
  height: 30px;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
#submit {
  height: 25px;
  width: 5.5%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background-color: rgb(83, 83, 100);
  color: white;
}
.Note {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  border: 2px solid blue;
  height: 50vh;
  gap: 20px;
}
/* #title {
  height: 5vh;
  width: 50vw;
  font-size: 20px;
} */
#thoughts {
  height: 30vh;
  width: 50vw;
  font-size: 20px;
}
.det {
  width: 10vw;
  height: 8vh;
  font-size: 20px;
}
.NoteCard {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 10px;
  margin: 20px;
  gap: 20px;
  width: 30vw;
  padding: 18px;
  justify-content: space-evenly;
  font-size: 20px;

  button {
    width: 90%;
    background: none;
    text-decoration: underline;
    border: none;
  }
}
.title {
  font-weight: bold;
}
