*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #68a571;
    color: #000202;
    /* align-items: start; */
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: #9bcca2;
    height: 8vw;
    align-items: center;
    gap: 10rem;
    
}
#create{
    height: 4rem;
    width: 5rem;
    border: none;
    border-radius: 1rem;
}
#create:hover, #toggle:hover{
    background-color: #2c6734;
}
#container{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: start;
    padding: 6rem;
    gap: 2rem;
    border: 2px solid white;
    height: max-content;
    
    
}
.createproject{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: max-content;

}
.projectcard> button{
    height: 2rem;
    width: 6vw;
    background-color: #9bcca2;
    border: none;
    border-radius: 10px;
}

select{
    width: 20vw;
}
#toggle{
    height: 4rem;
    border: none;
    border-radius: 1rem;
    width: 8rem;
}
.projectcard{
    height: max-content;
    background-color: #48664c;
    width: 20vw;
    display: block;
    padding: 2rem;
    border: 2px solid white;
    font-size: 1.5rem;
}
form>input>button#submit{
    width: 50vw;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content:space-around;
    align-items: center;
    
}
form>p{
    font-size: 20px;
}
form>input{
    height: 5vh;
    padding: 2px;
    align-items: center;
}
form>button{
    width: 10vw;
   margin-left: 7rem;
    justify-content: center;
}
