*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffff;
    font-family: 'Kumbh sans', sans-serif;
    display: flex;
    justify-content: center;
}

.maincontent {
    width: 75vw;
}
.content{
    margin-top: 40px;
    display: flex;
}
h2{
    font-weight: bold;
    font-size: large;
}
.navbar{
     background-color: #ffff;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100px;
     border-bottom: 2px solid gray;
}
.top{
    display: flex;
}

.top > li {
    list-style-type: none;
    margin: 5px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile > .pic {
    width: 50px;
    margin-left: 20px;
}

.o2{
    display: flex;
    justify-content: left;
    /* padding: 10px 30px; */
    width: 20px;

}
.o3{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 20px;
}

.images > img{
    width: 350px;
    border-radius: 10px;
}

.menuimages {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap:20px;
    
}
.menuimages > img {
    width: 70px;
    border-radius: 5px;
}

.menuimages > .selected {
    border: 2px solid orange;
    opacity: 0.5;
}

