<app-navbar> </app-navbar>


<form class="form" (ngSubmit)="loginUser(loginForm.value)" #loginForm="ngForm">
  <!-- EMAIL ADDRESS  -->
  <div class="input-div">
    <label for="email">Email :</label> <br />
    <input type="email" name="email" id="email" ngModel data-cy="email-link">
  </div>

  <!-- PASSWORD -->
  <div class="input-div">
    <label for="password">Password :</label> <br />
    <input type="password" name="password" id="password" ngModel data-cy="password-link">
  </div>

  <!-- SUBMIT -->
  <div class="submit">
    <button type="submit" [disabled]="loginForm.invalid" data-cy="submit-btn">Login</button>
  </div>
</form>
