.content-wrapper {
  /* border: 2px solid salmon; */
  height: 10vh;
}
nav {
  display: flex;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.list {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-right: 50px;
  font-size: 25px;
}
.list > li {
  border: 2px solid grey;
  padding: 8px;
  background-color: grey;
  border-radius: 10px;
  cursor: pointer;
}
.list > li:hover {
  border: 4 solid grey;
  background-color: transparent;
}
img {
  background-color: white;
  width: 70px;
  margin-left: 50px;
  border-radius: 50%;
}
